:root {
  --white: #FBF6EF;
  --light: #D4D9D3;
  --light-highlighted: #dcdfdc;
  --medium: #8A9886;
  --dark: #444D42;
  --black: #272625;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.App {
  text-align: center;
  position: fixed;
  height: 100%;  
  max-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Lobster Two', cursive;
}

.flex-invert {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.primary-content {
  flex: 1;
  background-color: var(--light);
  padding: 2rem 1rem 0 1rem;
}

.primary-nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  padding: .7rem;
  border-top: 1px solid var(--medium);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.nav-link {
  color: var(--medium);
  text-decoration: none;
}

.nav-link.active {
  color: var(--dark);
  font-weight: bold;
}

.nav-link-text {
  display: none;
}

.link-icon:hover {
  cursor: pointer;
}

.primary-footer {
  padding: .5rem;
  font-size: .9rem;
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-top: 1px solid var(--medium)
}

.flex-row {
  display: flex;
}

.transactions-list {
  width: 90vw;
  margin: auto;
}


.transactions-list-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.transaction-list-item {
  font-weight: bold;
}

.transaction-list-item:hover {
  cursor: pointer;
  background-color: var(--light-highlighted);
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

#transactions-table td, #transactions-table th {
  padding: 8px;
}

.middle-column {
  border-right: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
}

.middle-column:hover {
  border-right: 1px solid var(--medium);
  border-left: 1px solid var(--medium);
}

#transactions-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--dark);
}

#totals-table {
  width: 100%;
  color: var(--black);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

#totals-table td {
  padding: 8px;
}

.totals-table-total {
  display: flex;
}

.totals-text {
  padding: 1rem 0 1rem 0;
  font-size: 1.1rem;
}

.total-title {
  margin-right: .5rem;
  font-size: 1.1rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
}

.form > input, .form > select {
  margin: .3rem 0 1rem 0;
  padding: .5rem;
  background-color: var(--white);
  border: none;
  font-size: 1rem;
  color: var(--dark);
  box-shadow: 0 0 4px var(--dark);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 15px var(--black);
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form-button {
  margin-top: 1rem;
  padding: .5rem;
  font-size: 1.2rem;
  background-color: var(--dark);
  border: none;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.small-button {
  width: 100%;
  margin: 1rem auto 0 auto;
}

.add-button {
  padding-right: 1rem;
  padding-left: 1rem
}

.cancel-button {
  width: 100%;
  margin: 1rem auto;

}

.single-row-form {
  flex-direction: row;
  justify-content: center;
}

.single-row-form > .form-button {
  margin-top: 0;
}

#reminder-text-input {
  margin: 0;
  border-width: 0;
  width: 60vw;
}

.page-title {
  margin-bottom: 1rem;
  color: var(--dark);
}

.error-container {
  font-size: 1.1rem;
  margin-top: 2rem;
  color: var(--dark);
  font-weight: bold;
}

.reminder-container {
  display: flex;
  justify-content: space-between;
  padding: .2rem 1rem;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--white);
  margin: .4rem 0;
  align-items: center;
}

.reminder-checkbox {
  margin: auto .5rem auto 0;
}

.reminder-checkbox:focus {
 box-shadow: none;
}

.reminder-checkbox:hover {
  cursor: pointer;
}

.reminders-list-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.checkbox-text-container {
  display: flex;
}

.error-message {
  margin-top: 2rem;
  font-size: 1.2rem;
}

#totals-table, .totals-text {
  background-color: var(--medium);
  color: var(--white)
}

.checked {
  text-decoration: line-through;
  opacity: .4;
}

.trash-can {
  padding: .2rem .5rem;
  color: var(--dark);
}

.trash-can:hover {
  cursor: pointer;
  color: red;
}

.details-page-text-container {
  font-size: 1.3rem;
  margin: 2rem 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: var(--medium);
  color: var(--white);
  padding: 1rem;
}

.details-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.date-text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.percent-text {
  font-family: 'Lobster Two', cursive;
  margin-top: 2rem;
  font-size: 1.7rem;
}

.warning-text {
  font-size: 1.3rem;
  color: red;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.expense-list-container {
  margin: 1rem 0 2rem 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: var(--white);
  padding: 1rem;
}

.expense-container {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 500px;
  margin: .5rem auto;
}

.expense-text-container {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex: 1;
}

.expense-trash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding: .5rem;
  color: var(--dark)
}

.expense-trash-button:hover {
  color: red;
  cursor: pointer;
}

.expense-list-title {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--light);
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

.title-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-expense-button {
  margin: 0 0 1rem 1rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-contents-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 170px);
}


@media only screen and (min-width: 500px) {
  .form {
    width: 500px;
    margin: auto
  }

  .cancel-button  {
    width: 500px;
  }

  .reminders-list-container {
    width: 500px;
    margin: 2rem auto 2rem auto;
  }

  .details-page-text-container {
    max-width: 500px;
    margin: 2rem auto 0 auto;
  }

  .small-button {
    max-width: 500px;
  }
}

@media only screen and (min-width: 800px) {
  .homepage-container {
    max-width: 800px;
    margin: auto;
  }
  
  .transactions-list {
    width: 700px;
    max-width: 700px;
  }

  .expense-lists-container {
    display: flex;
    justify-content: space-around;
  }

  .expense-list-container {
    flex: .4;
  }

  .expense-text-container {
    max-width: 30vw;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-invert {
    flex-direction: column-reverse;
  }

  .primary-nav {
    border-top: none;
    border-bottom: 1px solid var(--medium);
    position: relative;
  }

  .nav-link-text {
    display: block;
  }

  .primary-footer {
    display: block;
  }

  .page-contents-container {
    height: calc(100vh - 150px);
  }

}

