:root {
  --white: #FBF6EF;
  --light: #D4D9D3;
  --medium: #8A9886;
  --dark: #444D42;
  --black: #272625;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Lobster Two', cursive;
}

.flex-invert {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.primary-content {
  flex: 1;
  background-color: var(--light);
  padding: 2rem 1rem 1rem 1rem;
}

.primary-nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  padding: .7rem;
  border-top: 1px solid var(--medium);
}

.nav-link {
  color: var(--medium);
  text-decoration: none;
}

.nav-link.active {
  color: var(--dark);
  font-weight: bold;
}

.nav-link-text {
  display: none;
}

.link-icon:hover {
  cursor: pointer;
}

.primary-footer {
  padding: .5rem;
  font-size: .9rem;
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-top: 1px solid var(--medium)
}

.flex-row {
  display: flex;
}

.transactions-list {
  width: 90vw;
  margin: auto;
}


.transactions-list-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.transaction-list-item {
  font-weight: bold;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

#transactions-table td, #transactions-table th {
  padding: 8px;
}

.middle-column {
  border-right: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
}

#transactions-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--dark);
}

#totals-table {
  width: 100%;
  color: var(--black);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

#totals-table td {
  padding: 8px;
}

.totals-table-total {
  display: flex;
}

.totals-text {
  padding: 1rem 0 1rem 0;
  font-size: 1.1rem;
}

.total-title {
  margin-right: .5rem;
  font-size: 1.1rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
}

.form > input {
  margin: .3rem 0 1rem 0;
  padding: .5rem;
  background-color: var(--white);
  border: none;
  font-size: 1rem;
  color: var(--dark);
  box-shadow: 0 0 4px var(--dark);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

input:focus {
  outline: none;
  box-shadow: 0 0 8px var(--black);
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form-button {
  margin-top: 1rem;
  padding: .5rem;
  font-size: 1.2rem;
  background-color: var(--dark);
  border: none;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.add-button {
  padding-right: 1rem;
  padding-left: 1rem
}

.single-row-form {
  flex-direction: row;
  justify-content: center;
}

.single-row-form > .form-button {
  margin-top: 0;
}

#reminder-text-input {
  margin: 0;
  border-width: 0;
  width: 60vw;
}

.page-title {
  margin-bottom: 1rem;
  color: var(--dark);
}

.error-container {
  font-size: 1.1rem;
  margin-top: 2rem;
  color: var(--dark);
  font-weight: bold;
}

.reminder-container {
  display: flex;
  justify-content: space-between;
  padding: .2rem 1rem;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--white);
  margin: .4rem 0;
  align-items: center;
}

.reminder-checkbox {
  margin: auto .5rem auto 0;
}

.reminder-checkbox:focus {
 box-shadow: none;
}

.reminder-checkbox:hover {
  cursor: pointer;
}

.reminders-list-container {
  margin-top: 2rem;
}

.checkbox-text-container {
  display: flex;
}

.success-message {
  margin-top: 2rem;
  font-size: 1.2rem;
}

#totals-table, .totals-text {
  background-color: var(--medium);
  color: var(--white)
}

.checked {
  text-decoration: line-through;
  opacity: .4;
}

.trash-can {
  padding: .2rem .5rem;
  color: var(--dark);
}

.trash-can:hover {
  cursor: pointer;
  color: red;
}


@media only screen and (min-width: 500px) {
  .form {
    width: 500px;
    margin: auto
  }

  .reminders-list-container {
    width: 500px;
    margin: 2rem auto 2rem auto;
  }
}

@media only screen and (min-width: 800px) {
  .homepage-container {
    max-width: 800px;
    margin: auto;
  }
  
  .transactions-list {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-invert {
    flex-direction: column-reverse;
  }

  .primary-nav {
    border-top: none;
    border-bottom: 1px solid var(--medium);
  }

  .nav-link-text {
    display: block;
  }

  .primary-footer {
    display: block;
  }
}

