* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(155, 87, 155);
}

.primary-content {
  flex: 1;
  background-color: rgb(252, 212, 219);
  border-radius: 25px 25px 0 0;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.3) 0px -7px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.primary-nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(155, 87, 155);
  padding: .5rem;
  border-top: 1px solid purple;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link.active {
  color: white;
  font-weight: bold;
}

.flex-row {
  display: flex;
}

.transactions-list {
  width: 90vw;
}

.transactions-list-title {
  font-weight: bold;
  font-size: 1.2rem;
}


table {
  border-collapse: collapse;
  table-layout: fixed;
}

#transactions-table td, #transactions-table th {
  padding: 8px;
}


.middle-column {
  border-right: 1px solid black;
  border-left: 1px solid black;


}

#transactions-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: purple;
}

#totals-table {
  width: 90vw;
}

#totals-table td {
  padding: 8px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75vh;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
}

.form > input {
  margin-bottom: 1rem;
  padding: .3rem;
}

.form-button {
  margin-top: 1rem;
  padding: .5rem;
  font-size: 1.2rem;
  background-color: #41324c;
  border: 1px solid black;
  color: white;
}

.page-title {
  margin-bottom: 1rem;
}